{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- <h1>Lgin Page!!</h1> -->
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" id="name" name="uname" required>
            
            <label for="password">Password</label>
            <input type="password" id="password" name="upassword" required>
            
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>